/*
===============================================
BASE STYLES
===============================================
*/

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top,#ffffff 0%,#e8ebf0 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#e8ebf0));
  background: -webkit-linear-gradient(top,#ffffff 0%,#e8ebf0 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#e8ebf0 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#e8ebf0 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#e8ebf0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#e8ebf0',GradientType=0 );
}

a,
a:hover {
  text-decoration: none;
  color: #4488ab;
}


p.secondary { margin-top: 1.5em; }
.secondary { 
  opacity: 0.85;
  font-size: 0.8em; 
  padding: 1em;
  margin: 2em 1em;
  max-width: 270px;
  text-align: center;
  margin: 0 auto;
}

.bordered { border: 1px solid #333; }

.minimal { 
  margin-top: 2em;
  padding-top: 1em; 
  width: 100%;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 1px 0 #fff;
}

input[type="text"] {
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 0.75em;
  border: 1px solid #ccc;
  -webkit-border-radius:  0.25em;
  -moz-border-radius:     0.25em;
   border-radius:         0.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
   box-sizing:        border-box;
}

select {
  width: 100%;
  -webkit-appearance: menulist-button;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
   box-sizing:        border-box;
  border: 1px solid #bbb;
  margin: 0;
  height: 2.75em;
  -webkit-border-radius:  0.25em;
  -moz-border-radius:     0.25em;
   border-radius:         0.25em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.padding-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
   box-sizing:        border-box;
}

.layout-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout-list li {
  float: left;
}

/*
===============================================
HEADER
===============================================
*/

.nav-content {
  display: block;
  width: 100%;
  height: 70px;
  float: none;
  border-bottom: 1px solid #d1d7e2;
  text-align: center;
  margin: 0;
  box-shadow: 0 1px 0 #fff;
  background: #f2f4f7;
}

header.wrapper { padding: 0; }

header .inner a img { 
  width: 145px;
  height: auto;
  margin-top: 5px;
}

#primary-links ul li { display: none; }
#primary-links ul li.last { display: block; }

#primary-links .button.major { display: none; }



/*
===============================================
SCAFFOLDING
===============================================
*/

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.left-column {
  width: 47%;
  float: left;
  margin-right: 3%;
}

.right-column {
  width: 47.7%;
}

.right-column {
  margin-bottom: 2em;
  padding: 0 1%;
  float: right;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(1,1,1,.05);
  -webkit-box-shadow: 0 1px 3px rgba(1,1,1,.05);
  box-shadow: 0 1px 3px rgba(1,1,1,.05);
  border: 1px solid #ddd;
}


/*
===============================================
BUTTONS
===============================================
*/

#amount .button {
  background: rgb(234,234,234); /* Old browsers */
  background-color: #006dcc;
  background-image: -webkit-linear-gradient(top,#4488ab,#1a6287);
  background-image: linear-gradient(to bottom,#4488ab,#1a6287);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4488ab', endColorstr='#1a6287',GradientType=0 ); /* IE6-9 */
  color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
}

#amount .button:hover {
  color: #fff;
  background-color: #006dcc;
  background-image: -webkit-linear-gradient(top,#1a6287,#4488ab);
  background-image: linear-gradient(to bottom,#1a6287,#4488ab);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6287', endColorstr='#4488ab',GradientType=0 ); /* IE6-9 */
}

.button.use-paypal {
  color: #000;
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top,#e8e8e8,#fcfcfc);
  background-image: linear-gradient(to bottom,#e8e8e8,#fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}


.button.use-paypal:hover {
  color: #000;
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(top,#fcfcfc,#e8e8e8);
  background-image: linear-gradient(to bottom,#fcfcfc,#e8e8e8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

.button {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  background: rgb(234,234,234);
  background: -moz-linear-gradient(top, #d0e3ec 0%, #b5ccd7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e3ec), color-stop(100%,#b5ccd7));
  background: -webkit-linear-gradient(top, #d0e3ec 0%,#b5ccd7 100%);
  background: -o-linear-gradient(top, #d0e3ec 0%,#b5ccd7 100%);
  background: -ms-linear-gradient(top, #d0e3ec 0%,#b5ccd7 100%);
  background: linear-gradient(to bottom, #d0e3ec 0%,#b5ccd7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#b5ccd7',GradientType=0 );
  border: 1px solid rgba(0,0,0,0.1);
  text-shadow: -1px -1px 0 rgba(255,255,255,0.2);
  color: #333;
  font-weight: 500;
  -webkit-border-radius:  0.25em;
  -moz-border-radius:     0.25em;
   border-radius:         0.25em;
  -webkit-box-sizing:     border-box;
  -moz-box-sizing:        border-box;
   box-sizing:            border-box;
}

.button:hover { 
  color: #333; 
  background: rgb(234,234,234);
  background: -moz-linear-gradient(top, #b5ccd7 0%, #d0e3ec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5ccd7), color-stop(100%,#d0e3ec));
  background: -webkit-linear-gradient(top, #b5ccd7 0%,#d0e3ec 100%);
  background: -o-linear-gradient(top, #b5ccd7 0%,#d0e3ec 100%);
  background: -ms-linear-gradient(top, #b5ccd7 0%,#d0e3ec 100%);
  background: linear-gradient(to bottom, #b5ccd7 0%,#d0e3ec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5ccd7', endColorstr='#d0e3ec',GradientType=0 );
}

#amount .button.selected,
.button.selected {
  background: #66A344;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
  border-color: rgba(0,0,0,0.2);
  color: #fff;
  text-shadow: none;
}

.button-set .button-row {
  margin-bottom: 2%;
}

.button-set .button-row > div {
  float: left;
}

.button-row .button {
  width: 100%;
}

.button-row.three-up > div,
.button-row.one-up-field > div {
  width: 32%;
  margin-right: 2%;
}

.button-row.three-up > div:last-child {
  margin-right: 0;
}

.button-row.one-up-field > div:last-child {
  width: 66%;
  margin: 0;
}

.button.hidden {
  display: none;
}

.button .quantity { display: none; }


/*
===============================================
SITE NAV
===============================================
*/

.nav-bar {
  width: 100%;
}

.nav-spacer {
  display: none;
}

.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.75em 2em;
  text-align: center;
}

.nav-bar .logo {
  display: inline-block;
}

.nav-bar .logo img {
  width: 20em;
}

.nav-bar .buttons {
  float: right;
}

.nav-bar .buttons li {
  margin-left: 0.5em;
}

.nav-bar .buttons a {
  display: block;
  width: 2em;
  height: 2em;
  text-align: center;
  -webkit-border-radius:  50%;
  -moz-border-radius:     50%;
   border-radius:         50%;
   background: #ccc;
}

.nav-bar .buttons .donate a {
  width: 7em;
  -webkit-border-radius:  1em;
  -moz-border-radius:     1em;
   border-radius:         1em;
   background: #444;
   color: #fff;
   font-weight: bold;
}

.donate-button-text {
  position: relative;
  top: 0.35em;
  text-transform: uppercase;
}


/*
===============================================
META AREA
===============================================
*/

.meta {
  width: 101%;
  background: #fff;
  -webkit-border-radius:  0.25em;
  -moz-border-radius:     0.25em;
  border-radius:         0.25em;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.05);
}

.title {
  position: relative;
  width: 100%;
  padding-right: 2px;
  margin-bottom: 0;
  background: #1c3744 url('../img/page-title-pattern.jpg');
  color: #fff;
  width: 100%;
  left: -1px;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.3)
}

.title .title-text { 
  font-size: 26px;
  text-transform: uppercase; 
}

.title .subtitle-text {
  display: block;
  padding-left: 0.1em;
  font-size: 15px;
  font-weight: normal;
  color: #f7f7f7;
}

.meta-content {
  
}

.title h1 {
  margin: 0;
  padding: 0.5em 1em 0.75em 1em;
  background: #1c3744 url('../img/page-title-pattern.jpg');
}

.title .info {
  font-size: 0.85em;
  color: #666;
}

.meta-content .photo,
.meta-content .stats {
  float: left;
}

.meta-content .photo.desktop {
  width: 35%;
  min-width: 170px;
  padding: 1.5em 5% 1.5em 5%;
  border-right: 1px solid #ddd;
  text-align: center;
}

.meta .photo.mobile {
  display: none;
}

.meta-content .photo img {
  width: 170px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}

.meta-content .stats {
  padding-top: 1.7em;
}

.meta-content .stats-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta-content .stats-list li {
  text-align: left;
  margin-bottom: 1em;
}

.meta-content .stats-list h3 {
  font-size: 1.75em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.meta-content .stats-list .stat-label {
  font-size: 0.85em;
  color: #666;
}

.boom-counter {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1.5em 2em;
}

.boom-counter-base {
  -webkit-border-radius:  1.25em;
  -moz-border-radius:     1.25em;
   border-radius:         1.25em;
}

.boom-counter-base {
  position: relative;
  background: #eee;
  height: 2.2rem;
  width: 100%;
  border: 1px solid #ddd;
   overflow: hidden;
}

.boom-counter-kickoff-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  border-right: 1px dotted rgba(255,255,255,0.7);
}

.boom-counter-kickoff-overlay span {
  display: none;
  position: absolute;
  top: 0.85em;
  right: 0.45em;
  font-size: 0.75em;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
}

.boom-counter-kickoff-overlay i {
  margin-left: 0.25em;
}

.boom-counter-kickoff-overlay span .fa-info-circle {
  font-size: 1.3em;
  position: relative;
  top: 1px;
}

.kickoff-info {
  overflow: hidden;
  max-height: 0;
  padding: 0 0.5em;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #333;
  font-size: 0.85em;
  line-height: 1.4em;
  margin-top: 1em;

}

.kickoff-info.open {
  max-height: 500px;
}

.boom-counter-fill {
  background: #66A344;
  width: 50%;
  height: 100%;
}

.boom-counter-label {
  display: block;
  margin-bottom: 0.35em;
}

.boom-counter-label .prefix {
  color: #666;
}

.boom-counter-label .figures {
  font-weight: bold;
}


.spending-categories {
  padding: 1.5em 2em;
}

.spending-categories h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

.spending-categories h4 a {
  display: none;
}

.spending-categories p {
  color: #333;
  font-size: 0.85em;
  line-height: 1.4em;
  margin-top: 0;
}

.category-headers {
    display: table;
    padding: 0.5em 1em;
    -webkit-border-top-left-radius:   4px;
    -webkit-border-top-right-radius:  4px;
    -moz-border-top-left-radius:      4px;
    -moz-border-top-right-radius:     4px;
    border-top-left-radius:          4px;
    border-top-right-radius:         4px;
    background: #4488ab;
    color: #fff;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
    border-bottom: 1px solid #1a6287;
}

.category-headers .type-header,
.category-headers .purchases-header {
  display: table-cell;
}

.category-headers .type-header span,
.category-headers .purchases-header span {
  font-size: 0.85em;
  font-weight: bold;
}

.category-headers .type-header {
  width: 70%;
}

.category-headers .purchases-header {
  width: 30%;
  text-align: right;
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories li {
  display: table;
  width: 100%;
  padding: 0.75em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.categories li:nth-child(odd) {
  background: #f5f6f8;
  display: table;
}

.categories li:last-child {
  -webkit-border-bottom-left-radius:   4px;
  -webkit-border-bottom-right-radius:  4px;
  -moz-border-bottom-left-radius:      4px;
  -moz-border-bottom-right-radius:     4px;
   border-bottom-left-radius:          4px;
   border-bottom-right-radius:         4px;
}

.categories .type,
.categories .purchases {
  display: table-cell;
}

.categories .type {
  width: 70%;
  vertical-align: middle;
}

.categories .donors,
.categories .purchases {
  width: 30%;
}

.donors .donors-figure,
.donors .donors-label,
.purchases .purchases-figure,
.purchases .purchases-label {
  display: block;
  text-align: right;
}

.donors .donors-figure,
.purchases .purchases-figure {
  font-weight: bold;
}

.type span {
  color: #444;
}

.donors .donors-figure,
.purchases .purchases-figure {
  font-size: 1.5em;
}

.donors .donors-label,
.purchases .purchases-label {
  font-size: 0.8em;
  color: #666;
}


/*
===============================================
FORM
===============================================
*/

.field-set .number {
  display: none;
  position: relative;
  width: 1.75em;
  height: 1.75em;
  top: -0.15em;
  margin-right: 0.35em;
  font-size: 0.75em;
  text-align: center;
  -webkit-border-radius:  50%;
  -moz-border-radius:     50%;
   border-radius:         50%;
  color: #fff;
  background: #c9441c;
}

.field-set .number-inner {
  display: inline-block;
  margin-top: 0.25em;
}

.field-set {
  margin-top: 1em;

}

.field-set { padding: 1em; }

.field-set:first-child {
  margin-top: 0;
  border-top: none;
}

.field-set h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #333;
  font-size: 0.1.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.field-set:first-child h2 {
  margin-top: 0;
}

.field-set p {
  margin-top: 0;
  color: #666;
  font-size: 0.85em;
  line-height: 1.4em;
}

.field-row {
  margin-bottom: 2.5%;
}

.field-label {
  display: block;
  margin-bottom: 0.35em;
  color: #444;
}

.first-name,
.last-name,
.address,
.city,
.state,
.zip,
.email,
.phone,
.expiration-date,
.security-code {
  float: left;
}

.first-name,
.last-name {
  width: 49%;
}

.first-name,
.city,
.state {
  margin-right: 2%;
}

.address {
  width: 100%;
}

.city,
.state,
.zip,
.phone,
.security-code {
  width: 32%;
}

.email {
  width: 66%;
  margin-right: 2%;
}

.card-icons {
  float: left;
}

.card-icons li {
  margin-right: 0.5em;
}

.use-paypal {
  float: right;
  position: relative;
  top: -0.5em;
}

.use-paypal img {
  width: 3.75em;
  display: inline-block;
  position: relative;
  top: 0.25em;
}

.expiration-date {
  width: 66%;
  margin-right: 2%;
}

.expiration-date select {
  width: 45%;
}

.expiration-month {
  margin-right: 5%;
}

.security-code-info {
  display: block;
  font-size: 0.85em;
  margin-top: 0.35em;
}

.submit-container {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.button.submit {
  border: none; 
  color: #fff;
  padding: 0.75em 1.5em;
  -webkit-border-radius:  3em;
  -moz-border-radius:     3em;
  border-radius:         3em;
  padding: 5px 24px 3px;
  background: #c9431b;
  font-family: 'Raleway',sans-serif;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  min-height: 36px;
  line-height: 36px;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.button.submit:hover { background: #d94c22; }

.request .field-label {
  margin-bottom: 1em;
}

/*
===============================================
DISCLAIMERS
===============================================
*/

.disclaimers {
  width: 100%;
  clear: both;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 2em;
}

.disclaimers .certification-lead-in {
  color: #222;
  font-weight: bold;
}

.disclaimers .certification ol {
  font-size: 0.85em;
}

.disclaimers .certification li {
  line-height: 1.4em;
  margin-bottom: 1em;
}

.disclaimers .asterisk-funding {
  font-size: 0.85em;
  border-top: 1px solid #ccc;
  margin-top: 2em;
  padding-top: 2em;
}

.disclaimers .asterisk-funding a,
.disclaimers .asterisk-funding p {
  float: left;
}

.disclaimers .asterisk-funding a {
  position: absolute;
  margin-left: 1.5em;
  color: #222;
  font-weight: bold;
}

.disclaimers .asterisk-funding p {
  margin: 0 0 0 2.75em;
  line-height: 1.4em;
}


/*
===============================================
MEDIA QUERIES
===============================================
*/

@media (max-width: 900px) {

  body {
    font-size: 14px;
  }

  .wrapper {
    padding: 1.5em;
  }

  .left-column,
  .right-column {
    width: 47.75%;
  }

  .left-column {
    margin-right: 2%;
  }

  .field-set {
    margin-top: 1em;
    padding-top: 1em;
  }

  .field-row {
    margin-bottom: 0;
  }

  .first-name,
  .last-name,
  .city,
  .state,
  .zip {
    width: 100%;
    float: none;
  }

  .first-name,
  .last-name,
  .address,
  .city,
  .state,
  .zip,
  .employer,
  .occupation,
  .card-number {
    margin-bottom: 4%;
  }

  .card-icons img {
    width: 43px;
  }

  .use-paypal {
    font-size: 0.8em;
    padding: 0.35em 0.75em 0.4em 0.75em;
    float: left;
    top: auto;
  }

  .use-paypal img {
    top: 0.3em;
  }

  .card-icons {
    margin-bottom: 1em;
  }

}

@media (max-width: 767px) {

  body {
    background: #fff;
    font-size: 14px;
  }

  .nav-wrapper {
    padding: 0.5em 0 0.25em 0;
  }

  .nav-bar .logo img {
    width: 15em;
  }

  .wrapper {
    padding: 0;
  }

  .left-column,
  .right-column {
    width: 100%;
    float: none;
    margin: 0;
  }

  .meta {
    background: transparent;
    box-shadow: none;
    position: relative;
  }

  .meta-content .photo.desktop {
    display: none;
  }

  .meta .photo.mobile {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
  }

  .meta .photo.mobile img {
    width: 3em;
  }

  .title,
  .boom-counter,
  .spending-categories,
  form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
     box-sizing:        border-box;
  }

  .title,
  .boom-counter,
  form {
    padding: 1em;
  }

  form {
    margin-top: 1em;
  }

  .spending-categories {
    padding: 1em 1.25em;
  }

  .stats,
  .boom-counter,
  .spending-categories {
    background: #f9f9f9;
  }

  .stats {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
  }

  .title {
    padding-bottom: 0;
    padding-left: 5em;
  }

  .title h1 {
    font-size: 1.4em;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }

  .meta-content {
    padding: 0;
    border-top: 1px solid #ddd;
  }

  .meta-content .stats {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .meta-content .stats .stats-list li {
    float: left;
    width: 33.3333333%;
    margin-bottom: 0;
    text-align: center;
  }

  .meta-content .stats .stats-list li:last-child {
    margin-right: 0;
  }

  .boom-counter {
    border: none;
  }

  .boom-counter-label {
    text-align: center;
  }

  .category-info {
    display: none;
  }

  .spending-categories {
    padding-top: 0;
    border-bottom: 1px solid #ddd
  }

  .spending-categories h4 {
    margin-bottom: 0;
  }

  .spending-categories h4 a {
    display: block;
    float: right;
    position: relative;
    font-weight: normal;
    font-size: 0.85em;
    top: 0.25em;
  }

  .category-info {
    margin-top: 0.5em;
  }

  .categories .type,
  .categories .purchases {
    width: 50%;
  }

  .categories .type {
    font-size: 0.9em;
  }

  .field-label {
    font-size: 1.2em;
  }

  .email,
  .phone,
  .expiration-date,
  .security-code {
    width: 100%;
    float: none;
  }

  .email,
  .expiration-date {
    margin-bottom: 4%;
  }

  .expiration-date select {
    width: 48%;
  }

  .expiration-month {
    margin-right: 2%;
  }

  .submit-container {
    margin-bottom: 1em;
  }

  .disclaimers {
    padding: 0;
  }

  .disclaimers .certification,
  .disclaimers .asterisk-funding {
    padding: 2em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
     box-sizing:        border-box;
  }

  .disclaimers .certification ol {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .disclaimers .certification ol li:last-child {
    margin-bottom: 0;
  }

  .disclaimers .asterisk-funding {
    margin-top: 0;
  }

}

@media (min-width: 768px) {

  .meta { border: 1px solid #ddd; }

  .meta-content .stats { padding-left: 0.75em; }

  .meta-content .stats-list li {
    text-align: left;
    margin-bottom: 1em;
    padding-left: 10%;
  }

  /*
  .nav-bar {
    position: fixed;
    width: 100%;
  }

  .nav-spacer {
    height: 1.25em;
    background: rgba(255,255,255,0.6);
    position: fixed;
    z-index: 98;
    width: 100%;
    display: block;
  }

  .nav-content {
    height: 4em;
    background: #ebeef2;
    box-shadow: 0 1px 8px rgba(0,0,0,0.4);
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-top: 1.25em;
    text-align: left;
  }

  .nav-content img { width: 224px; }

  header .inner a img { 
    width: 224px;
    height: auto;
    margin-top: -15px;
    margin-left: 1em;
  }

  #content { margin-top: 7em; }

  .button.major {
    float: right;
    background: #c9431b;
    font-family: 'Raleway',sans-serif;
    min-height: 36px;
    display: inline-block;
    text-decoration: none;
    line-height: 36px;
    color: #fff;
    padding: 0 20px;
    border: none;
    margin-right: 2%;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

  .span3 { width: 30%; float: left; }
  .span9 { width: 70%; float: left; }
  */

}